body{
	background-color: #F6F3E5;
}
.atc {
	display: grid;
	grid-template-columns: 70% 30%;
	padding: 12px 15px 12px 15px;
	width: 85%;
	background-color: white;
	float: left;
}
.sb1{
	background-color: ffffcc;
	padding: 12px 7px 12px 7px; 
}
.sb2{
	background-color: #ffeeee;
	padding: 12px 7px 12px 7px;
}
.sb3{
	background-color: #CCFFFF;
	padding: 12px 7px 12px 7px;
}
hr {
    border: none;
    height: 3px;
    color: #333;
    background-color: #333;
}
.margin{
	margin-left: 7%;
	margin-right: 8%;
}
.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}